.photo-gallery {
  display: flex;
  flex-direction: column; /* Stack photos vertically */
  gap: 20vh; /* Space between photos */
  padding: 20px;
  align-items: center; /* Center align the photos horizontally */
}


.photo-container {
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.photo-container:hover {
  transform: scale(1.05);
}
