html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.photo-gallery {
  margin-top: 5vh;
  display: flex;
  flex-direction: column; /* Stack photos vertically */
  gap: 20vh; /* Space between photos */
  padding: 20px;
  align-items: center; /* Center align the photos horizontally */
}


.photo-container {
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.photo-container:hover {
  transform: scale(1.05);
}
